@page "/jugadorinfopage/{id}"
@using NBA_FINAL_PROJECT.Model
@using System.Net.Http
@using System.Text.Json.Serialization
@inject HttpClient http
@inject NavigationManager navigation

<h3>JUGADOR @Id</h3>
@if (jugador != null) {
    <h5>EQUIPO: @jugador.team.full_name</h5>
}

@if (idJugador != null)
{
    <img src="@url" alt="foto jugador" />
}


@if (stats != null && !stats.data.Equals(statsVacia.data))
{
    <table>
        <tr>
            <th>Partidos</th>
            <th>Temporada</th>
            <th>Minutos</th>
        </tr>

        <tr>
            <td>@stats.data[0].games_played</td>
            <td>@stats.data[0].season</td>
            <td>@stats.data[0].min</td>
        </tr>

    </table>
} else {
    <p>No hay estadisticas de esta temporada de este jugador</p>
}



@code {
    [Parameter]
    public String Id { get; set; }

    JugadorUnico jugador;
    EstadisticasJugador stats;
    Jugador_API2 jugadorInfo;
    Equipos_API2 equipos_API2;
    EstadisticasJugador statsVacia;
    string idJugador;
    string url;

    protected override async Task OnInitializedAsync()
    {
        jugador = await http.GetFromJsonAsync<JugadorUnico>($"https://www.balldontlie.io/api/v1/players/{Id}");

        stats = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]={Id}");

        jugadorInfo = await http.GetFromJsonAsync<Jugador_API2>($"https://data.nba.net/data/10s/prod/v1/2022/players.json");

        equipos_API2 = await http.GetFromJsonAsync<Equipos_API2>($"https://data.nba.net/data/10s/prod/v1/2022/teams.json");

        statsVacia = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]=14");

        fotoJuagdor();
    }

    private void fotoJuagdor()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (jugadorInfo.league.standard[i].firstName == jugador.first_name && jugadorInfo.league.standard[i].lastName == jugador.last_name)
            {
                idJugador = jugadorInfo.league.standard[i].personId;
                url = "https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/" + idJugador + ".png";
            }
        }
    }
}