@page "/jugadorinfopage/{id}"
@using NBA_FINAL_PROJECT.Model
@using System.Net.Http
@using System.Text.Json.Serialization
@inject HttpClient http
@inject NavigationManager navigation


@if (jugador != null) {
    <h3>@jugador.first_name @jugador.last_name</h3>

    <div class="contenedor-flexbox">
        <div style="display:inline-block">
            <img src="@getImgTeam(jugador.team.abbreviation)" alt="foto equipo" class="imgRedonda"/>
        </div>

        <div style="display:inline-block">
            <h5>@jugador.team.full_name</h5>
        </div>
    </div>
    
}

@if (idJugador != null)
{
    <br/>
    <div class="divMedio">
        <img src="@url" alt="foto jugador" class="imgRedonda1" />
    </div>
    <br/>
    <br/>
}


@if (stats != null && !stats.data.Equals(statsVacia.data))
{
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Información">
                <div class="divMedio">
                    <RadzenFieldset Text="Información" Style="border-radius: 10px;border-color:black; font-weight:bold">

                        @if (numeroCamiseta != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Numero de Camiseta" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@numeroCamiseta" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (posicion != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Posición" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@posicion" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (altura != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Altura" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@altura" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (peso != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Peso" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@peso" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (fechaNacimiento != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Fecha de Nacimiento" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@fechaNacimiento" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (debut != null) {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Año de debut" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@debut" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (anosPro != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Años de profesional" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@anosPro" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (universidad != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Universidad" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@universidad" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                    </RadzenFieldset>
                </div>

                <br/>

                @if (seasonDraft != "" || roundDraft != "" || pickDraft != "")
                {
                    <div class="divMedio">
                        <RadzenFieldset Text="Draft" Style="border-radius: 10px;border-color:black; font-weight:bold">

                            @if (seasonDraft != "")
                            {
                                <div class="row">
                                    <div style="width:50%;font-weight: bold">
                                        <RadzenLabel Text="Temporada del draft" />
                                    </div>
                                    <div style="width:50%">
                                        <RadzenLabel Text="@seasonDraft" Style="font-weight:normal" />
                                    </div>
                                </div>
                            }

                            @if (roundDraft != "")
                            {
                                <div class="row">
                                    <div style="width:50%;font-weight: bold">
                                        <RadzenLabel Text="Ronda del draft" />
                                    </div>
                                    <div style="width:50%">
                                        <RadzenLabel Text="@roundDraft" Style="font-weight:normal" />
                                    </div>
                                </div>
                            }

                            @if (pickDraft != "")
                            {
                                <div class="row">
                                    <div style="width:50%;font-weight: bold">
                                        <RadzenLabel Text="Eleccion del draft" />
                                    </div>
                                    <div style="width:50%">
                                        <RadzenLabel Text="@pickDraft" Style="font-weight:normal" />
                                    </div>
                                </div>
                            }

                        </RadzenFieldset>
                    </div>
                }


                <br/>

                @if (equipos != null) {
                    <table class="tabla">
                        <thead>
                            <tr class="table100-head">
                                <th class="tablerows">Equipo</th>
                                <th class="tablerows">Foto</th>
                                <th class="tablerows">Apodo</th>
                                <th class="tablerows">Ciudad</th>
                                <th class="tablerows">Temporada inicial</th>
                                <th class="tablerows">Temporada final</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < equipos.Length; i++)
                            {
                                <tr>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 1)</td>
                                    <td class="tablerows"><img src="@getImgTeam(getInfoTeam(equipos[i].teamId, 3))" alt="team img" style="width:100px;height:100px" class="imgRedonda"/></td>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 4)</td>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 2)</td>
                                    <td class="tablerows">@equipos[i].seasonStart</td>
                                    <td class="tablerows">@equipos[i].seasonEnd</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </RadzenTabsItem>

            <RadzenTabsItem Text="Estadisticas de la Temporada">
                <div>
                    <div class="flexbox-estadisticas">
                        <div style="width:50%;text-align:left">
                            <p style="font-weight:bold">Partidos jugados</p>
                        </div>
                        <div style="width:50%;text-align:right">
                            <p>@stats.data[0].games_played</p>
                        </div>
                    </div>
                </div>

                <p class="solid"></p>

                <div>
                    <div class="flexbox-estadisticas">
                        <div style="width:50%;text-align:left">
                            <p style="font-weight:bold">Minutos de media</p>
                        </div>
                        <div style="width:50%;text-align:right">
                            <p>@stats.data[0].min</p>
                        </div>
                    </div>
                </div>

                <br/>

                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="Ataque">
                            <div>
                                <div class="flexbox-estadisticas">
                                    <div class="row1" style="width:33%">
                                        <RadzenArcGauge Style="width: 100%; height: 150px;">
                                            <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg_pct * 1000)>
                                                    <Template Context="pointer">
                                                        <h1>
                                                            @stats.data[0].fg_pct
                                                        </h1>
                                                    </Template>
                                                </RadzenArcGaugeScaleValue>
                                            </RadzenArcGaugeScale>
                                        </RadzenArcGauge>
                                    </div>

                                    <div class="row1" style="width:33%">
                                        <RadzenArcGauge Style="width: 100%; height: 150px;">
                                            <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg3_pct * 1000)>
                                                    <Template Context="pointer">
                                                        <h1>
                                                            @stats.data[0].fg3_pct
                                                        </h1>
                                                    </Template>
                                                </RadzenArcGaugeScaleValue>
                                            </RadzenArcGaugeScale>
                                        </RadzenArcGauge>
                                    </div>

                                    <div class="row1" style="width:33%">
                                        <RadzenArcGauge Style="width: 100%; height: 150px;">
                                            <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                <RadzenArcGaugeScaleValue Value=@(stats.data[0].ft_pct * 1000)>
                                                    <Template Context="pointer">
                                                        <h1>
                                                            @stats.data[0].ft_pct
                                                        </h1>
                                                    </Template>
                                                </RadzenArcGaugeScaleValue>
                                            </RadzenArcGaugeScale>
                                        </RadzenArcGauge>
                                    </div>
                                </div>

                                <div class="flexbox-estadisticas">
                                    <div style="width:33%;text-align:center">
                                        <p>Porcentaje de acierto en tiros de campo</p>
                                    </div>

                                    <div style="width:33%;text-align:center">
                                        <p>Porcentaje de acierto en triples</p>
                                    </div>

                                    <div style="width:33%;text-align:center">
                                        <p>Porcentaje de acierto en tiros libres</p>
                                    </div>
                                </div>
                            </div>

                            <br/>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Puntos de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].pts</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Asistencias de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].ast</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Tiros de campo anotados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].fgm</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Tiros de campo intentados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].fga</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Triples anotados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].fg3m</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Triples intentados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].fg3a</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Tiros libres anotados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].ftm</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Tiros libres intentados de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].fta</p>
                                    </div>
                                </div>
                            </div>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Defensa">
                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Rebotes de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].reb</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Rebotes ofensivos de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].oreb</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Rebotes defensivos de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].dreb</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Robos de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].stl</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Tapones de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].blk</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Perdidas de balon de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].turnover</p>
                                    </div>
                                </div>
                            </div>

                            <p class="solid"></p>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Faltas personales de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@stats.data[0].pf</p>
                                    </div>
                                </div>
                            </div>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Estadisticas de partidos">
                <select @onchange="OnSelect">
                    <option disabled selected value> -- eligue un equipo -- </option>
                    @foreach (var item in equiposEstadisticas) 
                    {
                        <option value=@getIdEquipo(item)>@item</option>
                    }
                </select>
                <br/>
                <br/>

                @if (equipoElegido) 
                {
                    @for (int i = 0; i < estadisticasPartidos.data.Length; i++)
                    {
                        @if (estadisticasPartidos.data[i].game.home_team_id == idEquipoEstadisticas || estadisticasPartidos.data[i].game.visitor_team_id == idEquipoEstadisticas) {
                            <div style="text-align:center">
                                <h1>@estadisticasPartidos.data[i].game.date</h1>
                                <h3>@estadisticasPartidos.data[i].game.status</h3>
                                @if (estadisticasPartidos.data[i].game.status != "Final")
                                {
                                    <h4>@estadisticasPartidos.data[i].game.time</h4>
                                }
                            </div>
                            
                            <div class="flexbox-estadisticas" style="text-align:center">
                                <div style="width:33%" class="flexbox-estadisticas">
                                    <img src="@getImgTeam(getEquipo(estadisticasPartidos.data[i].game.visitor_team_id, 2))" alt="img equipo visitante" class="imgRedonda" />
                                    @*<p>@getEquipo(estadisticasPartidos.data[i].game.visitor_team_id, 1)</p>*@
                                    <h2>@estadisticasPartidos.data[i].game.visitor_team_score</h2>
                                </div>
                                <div style="width:33%">
                                    <h2>VS</h2>
                                </div>

                                <div style="width:33%" class="flexbox-estadisticas">
                                    <h2>@estadisticasPartidos.data[i].game.home_team_score</h2>
                                    @*<p>@getEquipo(estadisticasPartidos.data[i].game.home_team_id, 1)</p>*@
                                    <img src="@getImgTeam(getEquipo(estadisticasPartidos.data[i].game.home_team_id, 2))" alt="img equipo local" class="imgRedonda"/>
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <div>
                                <div class="flexbox-estadisticas">
                                    <div style="width:50%;text-align:left">
                                        <p style="font-weight:bold">Minutos de media</p>
                                    </div>
                                    <div style="width:50%;text-align:right">
                                        <p>@estadisticasPartidos.data[i].min</p>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <RadzenTabs>
                                <Tabs>
                                    <RadzenTabsItem Text="Ataque">
                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div class="row1" style="width:33%">
                                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                            <RadzenArcGaugeScaleValue Value=@(estadisticasPartidos.data[i].fg_pct * 1000)>
                                                                <Template Context="pointer">
                                                                    <h1>
                                                                        @estadisticasPartidos.data[i].fg_pct
                                                                    </h1>
                                                                </Template>
                                                            </RadzenArcGaugeScaleValue>
                                                        </RadzenArcGaugeScale>
                                                    </RadzenArcGauge>
                                                </div>

                                                <div class="row1" style="width:33%">
                                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                            <RadzenArcGaugeScaleValue Value=@(estadisticasPartidos.data[i].fg3_pct * 1000)>
                                                                <Template Context="pointer">
                                                                    <h1>
                                                                        @estadisticasPartidos.data[i].fg3_pct
                                                                    </h1>
                                                                </Template>
                                                            </RadzenArcGaugeScaleValue>
                                                        </RadzenArcGaugeScale>
                                                    </RadzenArcGauge>
                                                </div>

                                                <div class="row1" style="width:33%">
                                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                            <RadzenArcGaugeScaleValue Value=@(estadisticasPartidos.data[i].ft_pct * 1000)>
                                                                <Template Context="pointer">
                                                                    <h1>
                                                                        @estadisticasPartidos.data[i].ft_pct
                                                                    </h1>
                                                                </Template>
                                                            </RadzenArcGaugeScaleValue>
                                                        </RadzenArcGaugeScale>
                                                    </RadzenArcGauge>
                                                </div>
                                            </div>

                                            <div class="flexbox-estadisticas">
                                                <div style="width:33%;text-align:center">
                                                    <p>Porcentaje de acierto en tiros de campo</p>
                                                </div>

                                                <div style="width:33%;text-align:center">
                                                    <p>Porcentaje de acierto en triples</p>
                                                </div>

                                                <div style="width:33%;text-align:center">
                                                    <p>Porcentaje de acierto en tiros libres</p>
                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Puntos de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].pts</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Asistencias de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].ast</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Tiros de campo anotados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].fgm</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Tiros de campo intentados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].fga</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Triples anotados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].fg3m</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Triples intentados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].fg3a</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Tiros libres anotados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].ftm</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Tiros libres intentados de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].fta</p>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenTabsItem>

                                    <RadzenTabsItem Text="Defensa">
                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Rebotes de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].reb</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Rebotes ofensivos de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].oreb</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Rebotes defensivos de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].dreb</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Robos de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].stl</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Tapones de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].blk</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Perdidas de balon de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].turnover</p>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="solid"></p>

                                        <div>
                                            <div class="flexbox-estadisticas">
                                                <div style="width:50%;text-align:left">
                                                    <p style="font-weight:bold">Faltas personales de media</p>
                                                </div>
                                                <div style="width:50%;text-align:right">
                                                    <p>@estadisticasPartidos.data[i].pf</p>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        }
                    }
                }
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
} else {
    <p>No hay estadisticas de esta temporada de este jugador</p>
}



@code {
    [Parameter]
    public String Id { get; set; }

    JugadorUnico jugador;
    EstadisticasJugador stats;
    Estadisticas estadisticasPartidos;
    Equipos allEquipos;
    Jugador_API2 jugadorInfo;
    Equipos_API2 equipos_API2;
    EstadisticasJugador statsVacia;
    string idJugador;
    string url;
    string numeroCamiseta;
    string posicion;
    string altura;
    string peso;
    string fechaNacimiento;
    string debut;
    string anosPro;
    string universidad;
    Team2[] equipos;
    string seasonDraft;
    string roundDraft;
    string pickDraft;

    List<string> equiposEstadisticas = new List<string>();

    int idEquipoEstadisticas;
    bool equipoElegido = false;

    protected override async Task OnInitializedAsync()
    {
        jugador = await http.GetFromJsonAsync<JugadorUnico>($"https://www.balldontlie.io/api/v1/players/{Id}");

        stats = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]={Id}");

        jugadorInfo = await http.GetFromJsonAsync<Jugador_API2>($"https://data.nba.net/data/10s/prod/v1/2022/players.json");

        equipos_API2 = await http.GetFromJsonAsync<Equipos_API2>($"https://data.nba.net/data/10s/prod/v1/2022/teams.json");

        statsVacia = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]=14");

        estadisticasPartidos = await http.GetFromJsonAsync<Estadisticas>($"https://balldontlie.io/api/v1/stats?per_page=100&seasons[]=2022&player_ids[]={Id}");

        allEquipos = await http.GetFromJsonAsync<Equipos>($"https://balldontlie.io/api/v1/teams");

        fotoJuagdor();

        infoJugador();

        getEquiposEstadisticas();

    }

    private void fotoJuagdor()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (jugadorInfo.league.standard[i].firstName == jugador.first_name && jugadorInfo.league.standard[i].lastName == jugador.last_name)
            {
                idJugador = jugadorInfo.league.standard[i].personId;
                url = "https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/" + idJugador + ".png";
            }
        }
    }

    private void infoJugador()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (idJugador == jugadorInfo.league.standard[i].personId)
            {
                numeroCamiseta = jugadorInfo.league.standard[i].jersey;
                posicion = jugadorInfo.league.standard[i].pos;
                altura = jugadorInfo.league.standard[i].heightMeters;
                peso = jugadorInfo.league.standard[i].weightKilograms;
                fechaNacimiento = jugadorInfo.league.standard[i].dateOfBirthUTC;
                debut = jugadorInfo.league.standard[i].nbaDebutYear;
                anosPro = jugadorInfo.league.standard[i].yearsPro;
                universidad = jugadorInfo.league.standard[i].collegeName;
                seasonDraft = jugadorInfo.league.standard[i].draft.seasonYear;
                roundDraft = jugadorInfo.league.standard[i].draft.roundNum;
                pickDraft = jugadorInfo.league.standard[i].draft.pickNum;
                equipos = jugadorInfo.league.standard[i].teams;
            }
        }
    }

    private string getImgTeam(string nombre)
    {
        return "/img/" + nombre + ".png";
    }

    private string getInfoTeam(string id, int info)
    {
        for (int i = 0; i < equipos_API2.league.standard.Length; i++)
        {
            if (equipos_API2.league.standard[i].teamId == id)
            {
                if (info == 1)
                {
                    return equipos_API2.league.standard[i].fullName;
                } else if (info == 2)
                {
                    return equipos_API2.league.standard[i].city;
                } else if (info == 3)
                {
                    return equipos_API2.league.standard[i].tricode;
                } else if (info == 4) 
                {
                    return equipos_API2.league.standard[i].nickname;
                }
            }
        }
        return null;
    }

    private string getEquipo(int id, int info)
    {
        for (int i = 0; i < allEquipos.data.Length; i++)
        {
            if (allEquipos.data[i].id == id)
            {
                if (info == 1)
                {
                    return allEquipos.data[i].full_name;
                }
                else if (info == 2)
                {
                    return allEquipos.data[i].abbreviation;
                }

            }
        }
        return null;
    }

    private void getEquiposEstadisticas()
    {
        List<string> todos = new List<string>();
        for (int i = 0; i < estadisticasPartidos.data.Length; i++) 
        {
            if (estadisticasPartidos.data[i].game.home_team_id != jugador.team.id) 
            {
                todos.Add(getEquipo(estadisticasPartidos.data[i].game.home_team_id, 1));
            } else
            {
                todos.Add(getEquipo(estadisticasPartidos.data[i].game.visitor_team_id, 1));
            }
        }

        equiposEstadisticas = todos.Distinct().ToList();

    }

    private int getIdEquipo(string nombre)
    {
        for (int i = 0; i < allEquipos.data.Length; i++)
        {
            if (allEquipos.data[i].full_name == nombre)
            {
                return allEquipos.data[i].id;
            }
        }
        return -1;
    }

    private async Task OnSelect(ChangeEventArgs e)
    {
        equipoElegido = false;
        idEquipoEstadisticas = Int32.Parse(e.Value.ToString());
        equipoElegido = true;
    }
}