@page "/jugadorinfopage/{id}"
@using NBA_FINAL_PROJECT.Model
@using System.Net.Http
@using System.Text.Json.Serialization
@inject HttpClient http
@inject NavigationManager navigation


@if (jugador != null) {
    <h3>@jugador.first_name @jugador.last_name</h3>

    <div class="contenedor-flexbox">
        <div style="display:inline-block">
            <img src="@getImgTeam(jugador.team.abbreviation)" alt="foto equipo" class="imgRedonda"/>
        </div>

        <div style="display:inline-block">
            <h5>@jugador.team.full_name</h5>
        </div>
    </div>
    
}

@if (idJugador != null)
{
    <br/>
    <div class="divMedio">
        <img src="@url" alt="foto jugador" class="imgRedonda1" />
    </div>
    <br/>
    <br/>
}


@if (stats != null && !stats.data.Equals(statsVacia.data))
{
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Información">
                <div class="divMedio">
                    <RadzenFieldset Text="Información" Style="border-radius: 10px;border-color:black; font-weight:bold">

                        @if (numeroCamiseta != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Numero de Camiseta" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@numeroCamiseta" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (posicion != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Posición" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@posicion" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (altura != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Altura" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@altura" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (peso != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Peso" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@peso" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (fechaNacimiento != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Fecha de Nacimiento" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@fechaNacimiento" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (debut != null) {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Año de debut" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@debut" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (anosPro != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Años de profesional" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@anosPro" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (universidad != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Universidad" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@universidad" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                    </RadzenFieldset>
                </div>

                <br/>

                <div class="divMedio">
                    <RadzenFieldset Text="Draft" Style="border-radius: 10px;border-color:black; font-weight:bold">

                        @if (seasonDraft != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Temporada del draft" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@seasonDraft" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (roundDraft != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Ronda del draft" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@roundDraft" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                        @if (pickDraft != null)
                        {
                            <div class="row">
                                <div style="width:50%;font-weight: bold">
                                    <RadzenLabel Text="Eleccion del draft" />
                                </div>
                                <div style="width:50%">
                                    <RadzenLabel Text="@pickDraft" Style="font-weight:normal" />
                                </div>
                            </div>
                        }

                    </RadzenFieldset>
                </div>

                <br/>

                @if (equipos != null) {
                    <table class="tabla">
                        <thead>
                            <tr class="table100-head">
                                <th class="tablerows">Equipo</th>
                                <th class="tablerows">Foto</th>
                                <th class="tablerows">Apodo</th>
                                <th class="tablerows">Ciudad</th>
                                <th class="tablerows">Temporada inicial</th>
                                <th class="tablerows">Temporada final</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < equipos.Length; i++)
                            {
                                <tr>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 1)</td>
                                    <td class="tablerows"><img src="@getImgTeam(getInfoTeam(equipos[i].teamId, 3))" alt="team img" style="width:100px;height:100px" class="imgRedonda"/></td>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 4)</td>
                                    <td class="tablerows">@getInfoTeam(equipos[i].teamId, 2)</td>
                                    <td class="tablerows">@equipos[i].seasonStart</td>
                                    <td class="tablerows">@equipos[i].seasonEnd</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </RadzenTabsItem>

            <RadzenTabsItem Text="Estadisticas">
                <RadzenFieldset Text="Estadisticas" Style="border-radius: 10px;border-color:black; font-weight:bold">
                    <div>
                        <div class="flexbox-estadisticas">
                            <div class="row1" style="width:33%">
                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                            <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg_pct * 1000)>
                                                <Template Context="pointer">
                                                    <h1>
                                                        @stats.data[0].fg_pct
                                                    </h1>
                                                </Template>
                                            </RadzenArcGaugeScaleValue>
                                        </RadzenArcGaugeScale>
                                    </RadzenArcGauge>
                            </div>

                            <div class="row1" style="width:33%">
                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                            <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg3_pct * 1000)>
                                                <Template Context="pointer">
                                                    <h1>
                                                        @stats.data[0].fg3_pct
                                                    </h1>
                                                </Template>
                                            </RadzenArcGaugeScaleValue>
                                        </RadzenArcGaugeScale>
                                    </RadzenArcGauge>
                            </div>

                            <div class="row1" style="width:33%">
                                    <RadzenArcGauge Style="width: 100%; height: 150px;">
                                        <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                            <RadzenArcGaugeScaleValue Value=@(stats.data[0].ft_pct * 1000)>
                                                <Template Context="pointer">
                                                    <h1>
                                                        @stats.data[0].ft_pct
                                                    </h1>
                                                </Template>
                                            </RadzenArcGaugeScaleValue>
                                        </RadzenArcGaugeScale>
                                    </RadzenArcGauge>
                            </div>
                        </div>

                        <div class="flexbox-estadisticas">
                            <div style="width:33%;text-align:center">
                                <p>Porcentaje de acierto en tiros de campo</p>
                            </div>

                            <div style="width:33%;text-align:center">
                                <p>Porcentaje de acierto en triples</p>
                            </div>

                            <div style="width:33%;text-align:center">
                                <p>Porcentaje de acierto en tiros libres</p>
                            </div>
                        </div>
                    </div>
                </RadzenFieldset>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
} else {
    <p>No hay estadisticas de esta temporada de este jugador</p>
}



@code {
    [Parameter]
    public String Id { get; set; }

    JugadorUnico jugador;
    EstadisticasJugador stats;
    Jugador_API2 jugadorInfo;
    Equipos_API2 equipos_API2;
    EstadisticasJugador statsVacia;
    string idJugador;
    string url;
    string numeroCamiseta;
    string posicion;
    string altura;
    string peso;
    string fechaNacimiento;
    string debut;
    string anosPro;
    string universidad;
    Team2[] equipos;
    string seasonDraft;
    string roundDraft;
    string pickDraft;

    protected override async Task OnInitializedAsync()
    {
        jugador = await http.GetFromJsonAsync<JugadorUnico>($"https://www.balldontlie.io/api/v1/players/{Id}");

        stats = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]={Id}");

        jugadorInfo = await http.GetFromJsonAsync<Jugador_API2>($"https://data.nba.net/data/10s/prod/v1/2022/players.json");

        equipos_API2 = await http.GetFromJsonAsync<Equipos_API2>($"https://data.nba.net/data/10s/prod/v1/2022/teams.json");

        statsVacia = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]=14");

        fotoJuagdor();

        infoJugador();
    }

    private void fotoJuagdor()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (jugadorInfo.league.standard[i].firstName == jugador.first_name && jugadorInfo.league.standard[i].lastName == jugador.last_name)
            {
                idJugador = jugadorInfo.league.standard[i].personId;
                url = "https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/" + idJugador + ".png";
            }
        }
    }

    private void infoJugador()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (idJugador == jugadorInfo.league.standard[i].personId)
            {
                numeroCamiseta = jugadorInfo.league.standard[i].jersey;
                posicion = jugadorInfo.league.standard[i].pos;
                altura = jugadorInfo.league.standard[i].heightMeters;
                peso = jugadorInfo.league.standard[i].weightKilograms;
                fechaNacimiento = jugadorInfo.league.standard[i].dateOfBirthUTC;
                debut = jugadorInfo.league.standard[i].nbaDebutYear;
                anosPro = jugadorInfo.league.standard[i].yearsPro;
                universidad = jugadorInfo.league.standard[i].collegeName;
                seasonDraft = jugadorInfo.league.standard[i].draft.seasonYear;
                roundDraft = jugadorInfo.league.standard[i].draft.roundNum;
                pickDraft = jugadorInfo.league.standard[i].draft.pickNum;
                equipos = jugadorInfo.league.standard[i].teams;
            }
        }
    }

    private string getImgTeam(string nombre)
    {
        return "/img/" + nombre + ".png";
    }

    private string getInfoTeam(string id, int info)
    {
        for (int i = 0; i < equipos_API2.league.standard.Length; i++)
        {
            if (equipos_API2.league.standard[i].teamId == id)
            {
                if (info == 1)
                {
                    return equipos_API2.league.standard[i].fullName;
                } else if (info == 2)
                {
                    return equipos_API2.league.standard[i].city;
                } else if (info == 3)
                {
                    return equipos_API2.league.standard[i].tricode;
                } else if (info == 4) 
                {
                    return equipos_API2.league.standard[i].nickname;
                }
            }
        }
        return null;
    }
}