@page "/jugadorinfopage/{id}"
@using NBA_FINAL_PROJECT.Model
@using System.Net.Http
@using System.Text.Json.Serialization
@inject HttpClient http
@inject NavigationManager navigation

<RadzenButton ButtonStyle="ButtonStyle.Danger" Click="volver" Icon="arrow_back"/>
<br/>
<br/>


@if (jugador != null) {
    <div class="flexbox-estadisticas">
        <div style="width:50%">
            <RadzenCard class="rz-mx-auto" Style="max-width: 420px">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    @if (idJugador != null)
                    {
                        <RadzenImage Path="@url" Style="width: 137px; height: 100px; border-radius: 50%;" />
                    }
                    <RadzenStack Gap="0" AlignItems="Radzen.AlignItems.Normal">
                        <RadzenText TextStyle="TextStyle.Overline" Style="@colorEquipos(1, 2, jugador.team.abbreviation)">Nombre</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" Style="@colorEquipos(1, 1, jugador.team.abbreviation)"><b>@jugador.first_name @jugador.last_name</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div style="width:50%">
            <RadzenCard onclick="@(() => verEquipo(jugador.team.id))" class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <RadzenImage Path="@getImgTeam(jugador.team.abbreviation)" Style="width: 100px; height: 100px; border-radius: 50%;" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" Style="@colorEquipos(1, 2, jugador.team.abbreviation)" class="rz-display-flex rz-mt-2 rz-my-0">Equipo</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" Style="@colorEquipos(1, 1, jugador.team.abbreviation)"><b>@jugador.team.full_name</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" Style="@colorEquipos(1, 2, jugador.team.abbreviation)" class="rz-display-flex rz-mt-4 rz-mb-0">Ciudad</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" Style="@colorEquipos(1, 1, jugador.team.abbreviation)"><b>@jugador.team.city</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>
}

@if (stats != null && !stats.data.Equals(statsVacia.data) || numeroCamiseta != null || posicion != null || altura != null || peso != null || fechaNacimiento != null || debut != null || anosPro != null || universidad != null || seasonDraft != "" && seasonDraft != null || roundDraft != "" && roundDraft != null || pickDraft != "" && pickDraft != null || equipos != null)
{
    <br/>
    <RadzenTabs>
        <Tabs>
            @if (numeroCamiseta != null || posicion != null || altura != null || peso != null || fechaNacimiento != null || debut != null || anosPro != null || universidad != null || seasonDraft != "" && seasonDraft != null || roundDraft != "" && roundDraft != null || pickDraft != "" && pickDraft != null || equipos != null) {
                <RadzenTabsItem Text="Información" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                    <div class="divMedio">
                        @if (numeroCamiseta != null || posicion != null || altura != null || peso != null || fechaNacimiento != null || debut != null || anosPro != null || universidad != null) {
                            <RadzenFieldset Text="Información" Style="border-radius: 10px;border-color:black; font-weight:bold">

                                @if (numeroCamiseta != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Numero de Camiseta" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@numeroCamiseta" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (posicion != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Posición" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@posicion" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (altura != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Altura" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@altura" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (peso != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Peso" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@peso" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (fechaNacimiento != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Fecha de Nacimiento" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@fechaNacimiento" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (debut != null) {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Año de debut" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@debut" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (anosPro != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Años de profesional" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@anosPro" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (universidad != null)
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Universidad" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@universidad" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                            </RadzenFieldset>
                        } 
                    </div>

                    <br/>

                    @if (seasonDraft != "" && seasonDraft != null || roundDraft != "" && roundDraft != null || pickDraft != "" && pickDraft != null)
                    {
                        <div class="divMedio">
                            <RadzenFieldset Text="Draft" Style="border-radius: 10px;border-color:black; font-weight:bold">

                                @if (seasonDraft != "")
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Temporada del draft" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@seasonDraft" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (roundDraft != "")
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Ronda del draft" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@roundDraft" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                                @if (pickDraft != "")
                                {
                                    <div class="row">
                                        <div style="width:50%;font-weight: bold">
                                            <RadzenLabel Text="Eleccion del draft" />
                                        </div>
                                        <div style="width:50%">
                                            <RadzenLabel Text="@pickDraft" Style="font-weight:normal" />
                                        </div>
                                    </div>
                                }

                            </RadzenFieldset>
                        </div>
                    }


                    <br/>

                    @if (equipos != null) {
                        <table class="tabla">
                            <thead>
                                <tr class="table100-head">
                                    <th class="tablerows">Equipo</th>
                                    <th class="tablerows">Foto</th>
                                    <th class="tablerows">Apodo</th>
                                    <th class="tablerows">Ciudad</th>
                                    <th class="tablerows">Temporada inicial</th>
                                    <th class="tablerows">Temporada final</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < equipos.Length; i++)
                                {
                                    <tr>
                                        <td class="tablerows">@getInfoTeam(equipos[i].teamId, 1)</td>
                                        <td class="tablerows"><img src="@getImgTeam(getInfoTeam(equipos[i].teamId, 3))" alt="team img" style="width:100px;height:100px" class="imgRedonda"/></td>
                                        <td class="tablerows">@getInfoTeam(equipos[i].teamId, 4)</td>
                                        <td class="tablerows">@getInfoTeam(equipos[i].teamId, 2)</td>
                                        <td class="tablerows">@equipos[i].seasonStart</td>
                                        <td class="tablerows">@equipos[i].seasonEnd</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </RadzenTabsItem>
            }
            @if (stats != null && !stats.data.Equals(statsVacia.data)) {
                <RadzenTabsItem Text="Estadisticas de la Temporada" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                    <div>
                        <div class="flexbox-estadisticas">
                            <div style="width:50%;text-align:left">
                                <p style="font-weight:bold">Partidos jugados</p>
                            </div>
                            <div style="width:50%;text-align:right">
                                <p>@stats.data[0].games_played</p>
                            </div>
                        </div>
                    </div>

                    <p class="solid"></p>

                    <div>
                        <div class="flexbox-estadisticas">
                            <div style="width:50%;text-align:left">
                                <p style="font-weight:bold">Minutos de media</p>
                            </div>
                            <div style="width:50%;text-align:right">
                                <p>@stats.data[0].min</p>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Ataque" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div class="row1" style="width:33%">
                                            <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                    <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg_pct * 1000) Fill=@colorFill(1, stats.data[0].fg_pct * 1000)>
                                                        <Template Context="pointer">
                                                            <h1>
                                                                @stats.data[0].fg_pct
                                                            </h1>
                                                        </Template>
                                                    </RadzenArcGaugeScaleValue>
                                                </RadzenArcGaugeScale>
                                            </RadzenArcGauge>
                                        </div>

                                        <div class="row1" style="width:33%">
                                            <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                    <RadzenArcGaugeScaleValue Value=@(stats.data[0].fg3_pct * 1000) Fill=@colorFill(2, stats.data[0].fg3_pct * 1000)>
                                                        <Template Context="pointer">
                                                            <h1>
                                                                @stats.data[0].fg3_pct
                                                            </h1>
                                                        </Template>
                                                    </RadzenArcGaugeScaleValue>
                                                </RadzenArcGaugeScale>
                                            </RadzenArcGauge>
                                        </div>

                                        <div class="row1" style="width:33%">
                                            <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                    <RadzenArcGaugeScaleValue Value=@(stats.data[0].ft_pct * 1000) Fill=@colorFill(3, stats.data[0].ft_pct * 1000)>
                                                        <Template Context="pointer">
                                                            <h1>
                                                                @stats.data[0].ft_pct
                                                            </h1>
                                                        </Template>
                                                    </RadzenArcGaugeScaleValue>
                                                </RadzenArcGaugeScale>
                                            </RadzenArcGauge>
                                        </div>
                                    </div>

                                    <div class="flexbox-estadisticas">
                                        <div style="width:33%;text-align:center">
                                            <p>Porcentaje de acierto en tiros de campo</p>
                                        </div>

                                        <div style="width:33%;text-align:center">
                                            <p>Porcentaje de acierto en triples</p>
                                        </div>

                                        <div style="width:33%;text-align:center">
                                            <p>Porcentaje de acierto en tiros libres</p>
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Puntos de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].pts</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Asistencias de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].ast</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Tiros de campo anotados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].fgm</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Tiros de campo intentados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].fga</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Triples anotados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].fg3m</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Triples intentados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].fg3a</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Tiros libres anotados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].ftm</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Tiros libres intentados de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].fta</p>
                                        </div>
                                    </div>
                                </div>
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Defensa" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Rebotes de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].reb</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Rebotes ofensivos de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].oreb</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Rebotes defensivos de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].dreb</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Robos de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].stl</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Tapones de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].blk</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Perdidas de balon de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].turnover</p>
                                        </div>
                                    </div>
                                </div>

                                <p class="solid"></p>

                                <div>
                                    <div class="flexbox-estadisticas">
                                        <div style="width:50%;text-align:left">
                                            <p style="font-weight:bold">Faltas personales de media</p>
                                        </div>
                                        <div style="width:50%;text-align:right">
                                            <p>@stats.data[0].pf</p>
                                        </div>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Estadisticas de partidos" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                    <select @onchange="OnSelect">
                        <option disabled selected value> -- eligue un equipo -- </option>
                        @foreach (var item in equiposEstadisticas) 
                        {
                            <option value=@getIdEquipo(item)>@item</option>
                        }
                    </select>
                    <br/>
                    <br/>

                    @if (equipoElegido) 
                    {

                        @if (numeroMenu != 0) {
                            <RadzenButton Text="<" Click="atras" Style="@colorEquipos(3, 1, jugador.team.abbreviation)" />
                        } else
                        {
                            <RadzenButton Text="<" Click="atras" Style="@colorEquipos(3, 1, jugador.team.abbreviation)" Disabled />
                        }

                        @for (int i = 0; i < estadisticas.Count; i++) {
                            int z = i + 1;
                            @if (i == numeroMenu) {
                                <RadzenButton Text="@z.ToString()" Click="@(args => buscar(z))" Style="@colorEquipos(3, 2, jugador.team.abbreviation)" />
                            } else {
                                <RadzenButton Text="@z.ToString()" Click="@(args => buscar(z))" Style="@colorEquipos(3, 1, jugador.team.abbreviation)" />
                            }
                        
                        }

                        @if (numeroMenu != estadisticas.Count - 1) {
                            <RadzenButton Text=">" Click="adelante" Style="@colorEquipos(3, 1, jugador.team.abbreviation)" />
                        } else {
                            <RadzenButton Text=">" Click="adelante" Style="@colorEquipos(3, 1, jugador.team.abbreviation)" Disabled />
                        }

                        <div style="text-align:center">
                            <h1>@estadisticas[numeroMenu].game.date</h1>
                            <h3>@estadisticas[numeroMenu].game.status</h3>
                            @if (estadisticas[numeroMenu].game.status != "Final")
                            {
                                <h4>@estadisticas[numeroMenu].game.time</h4>
                            }
                        </div>
                            
                        <div class="flexbox-estadisticas" style="text-align:center">
                            <div style="width:33%" class="flexbox-estadisticas">
                                <img src="@getImgTeam(getEquipo(estadisticas[numeroMenu].game.visitor_team_id, 2))" alt="img equipo visitante" class="imgRedonda" />
                                @*<p>@getEquipo(estadisticasPartidos.data[i].game.visitor_team_id, 1)</p>*@
                                <h2>@estadisticas[numeroMenu].game.visitor_team_score</h2>
                            </div>
                            <div style="width:33%">
                                <h2>VS</h2>
                            </div>

                            <div style="width:33%" class="flexbox-estadisticas">
                                <h2>@estadisticas[numeroMenu].game.home_team_score</h2>
                                @*<p>@getEquipo(estadisticasPartidos.data[i].game.home_team_id, 1)</p>*@
                                <img src="@getImgTeam(getEquipo(estadisticas[numeroMenu].game.home_team_id, 2))" alt="img equipo local" class="imgRedonda"/>
                            </div>
                        </div>

                        <br/>
                        <br/>

                        <div>
                            <div class="flexbox-estadisticas">
                                <div style="width:50%;text-align:left">
                                    <p style="font-weight:bold">Minutos</p>
                                </div>
                                <div style="width:50%;text-align:right">
                                    <p>@estadisticas[numeroMenu].min</p>
                                </div>
                            </div>
                        </div>

                        <br />

                        <RadzenTabs>
                            <Tabs>
                                <RadzenTabsItem Text="Ataque" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div class="row1" style="width:33%">
                                                <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                    <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                        <RadzenArcGaugeScaleValue Value=@getEstadisticasDouble(1) Fill=@colorFill(1, getEstadisticasDouble(1))>
                                                            <Template Context="pointer">
                                                                @if (getEstadisticasDouble(1) == 0)
                                                                {
                                                                    <h1>0</h1>
                                                                } else
                                                                {
                                                                    <h1>
                                                                        @tresDecimales(estadisticas[numeroMenu].fg_pct)
                                                                    </h1>
                                                                }
                                                            
                                                            </Template>
                                                        </RadzenArcGaugeScaleValue>
                                                    </RadzenArcGaugeScale>
                                                </RadzenArcGauge>
                                            </div>

                                            <div class="row1" style="width:33%">
                                                <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                    <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                        <RadzenArcGaugeScaleValue Value=@getEstadisticasDouble(2) Fill=@colorFill(2, getEstadisticasDouble(2))>
                                                            <Template Context="pointer" >
                                                                @if (getEstadisticasDouble(2) == 0) {
                                                                    <h1>0</h1>
                                                                } else
                                                                {
                                                                    <h1>
                                                                        @tresDecimales(estadisticas[numeroMenu].fg3_pct)
                                                                    </h1>
                                                                }
                                                            
                                                            </Template>
                                                        </RadzenArcGaugeScaleValue>
                                                    </RadzenArcGaugeScale>
                                                </RadzenArcGauge>
                                            </div>
                                        
                                            <div class="row1" style="width:33%">
                                                <RadzenArcGauge Style="width: 100%; height: 150px;">
                                                    <RadzenArcGaugeScale Step="20" Min="0" Max="1000" MinorStep="2" Radius="1.5" TickPosition=GaugeTickPosition.None Y="0.9" Margin="0">
                                                        <RadzenArcGaugeScaleValue Value=@getEstadisticasDouble(3) Fill=@colorFill(3, getEstadisticasDouble(3)) >
                                                            <Template Context="pointer">
                                                                @if (getEstadisticasDouble(3) == 0) {
                                                                    <h1>0</h1>
                                                                } else
                                                                {
                                                                    <h1>
                                                                        @tresDecimales(estadisticas[numeroMenu].ft_pct)
                                                                    </h1>
                                                                }
                                                            
                                                            </Template>
                                                        </RadzenArcGaugeScaleValue>
                                                    </RadzenArcGaugeScale>
                                                </RadzenArcGauge>
                                            </div>
                                        </div>

                                        <div class="flexbox-estadisticas">
                                            <div style="width:33%;text-align:center">
                                                <p>Porcentaje de acierto en tiros de campo</p>
                                            </div>

                                            <div style="width:33%;text-align:center">
                                                <p>Porcentaje de acierto en triples</p>
                                            </div>

                                            <div style="width:33%;text-align:center">
                                                <p>Porcentaje de acierto en tiros libres</p>
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Puntos</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].pts</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Asistencias</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].ast</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Tiros de campo anotados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].fgm</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Tiros de campo intentados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].fga</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Triples anotados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].fg3m</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Triples intentados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].fg3a</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Tiros libres anotados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].ftm</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Tiros libres intentados</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].fta</p>
                                            </div>
                                        </div>
                                    </div>
                                </RadzenTabsItem>

                                <RadzenTabsItem Text="Defensa" Style="@colorEquipos(2, 1, jugador.team.abbreviation)">
                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Rebotes</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].reb</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Rebotes ofensivos</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].oreb</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Rebotes defensivos</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].dreb</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Robos</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].stl</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Tapones</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].blk</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Perdidas de balon</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                                <p>@estadisticas[numeroMenu].turnover</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="solid"></p>

                                    <div>
                                        <div class="flexbox-estadisticas">
                                            <div style="width:50%;text-align:left">
                                                <p style="font-weight:bold">Faltas personales</p>
                                            </div>
                                            <div style="width:50%;text-align:right">
                                            <p>@estadisticas[numeroMenu].pf</p>
                                            </div>
                                        </div>
                                    </div>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    }
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
} else {
    <p>No hay estadisticas de esta temporada de este jugador</p>
}



@code {
    [Parameter]
    public String Id { get; set; }

    JugadorUnico jugador;
    EstadisticasJugador stats;
    Estadisticas estadisticasPartidos;
    Equipos allEquipos;
    Jugador_API2 jugadorInfo;
    Equipos_API2 equipos_API2;
    EstadisticasJugador statsVacia;
    string idJugador;
    string url;
    string numeroCamiseta;
    string posicion;
    string altura;
    string peso;
    string fechaNacimiento;
    string debut;
    string anosPro;
    string universidad;
    Team2[] equipos;
    string seasonDraft;
    string roundDraft;
    string pickDraft;

    List<string> equiposEstadisticas = new List<string>();
    List<Datum3> estadisticas = new List<Datum3>();
    int numeroMenu = 0;

    int idEquipoEstadisticas;
    bool equipoElegido = false;

    protected override async Task OnInitializedAsync()
    {
        jugador = await http.GetFromJsonAsync<JugadorUnico>($"https://www.balldontlie.io/api/v1/players/{Id}");

        stats = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]={Id}");

        jugadorInfo = await http.GetFromJsonAsync<Jugador_API2>($"https://data.nba.net/data/10s/prod/v1/2022/players.json");

        equipos_API2 = await http.GetFromJsonAsync<Equipos_API2>($"https://data.nba.net/data/10s/prod/v1/2022/teams.json");

        statsVacia = await http.GetFromJsonAsync<EstadisticasJugador>($"https://www.balldontlie.io/api/v1/season_averages?player_ids[]=14");

        estadisticasPartidos = await http.GetFromJsonAsync<Estadisticas>($"https://balldontlie.io/api/v1/stats?per_page=100&seasons[]=2022&player_ids[]={Id}");

        allEquipos = await http.GetFromJsonAsync<Equipos>($"https://balldontlie.io/api/v1/teams");

        fotoJuagdor();

        infoJugador();

        getEquiposEstadisticas();

    }

    private void fotoJuagdor()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (jugadorInfo.league.standard[i].firstName == jugador.first_name && jugadorInfo.league.standard[i].lastName == jugador.last_name)
            {
                idJugador = jugadorInfo.league.standard[i].personId;
                url = "https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/" + idJugador + ".png";
            }
        }
    }

    private void infoJugador()
    {
        for (int i = 0; i < jugadorInfo.league.standard.Length; i++)
        {
            if (idJugador == jugadorInfo.league.standard[i].personId)
            {
                numeroCamiseta = jugadorInfo.league.standard[i].jersey;
                posicion = jugadorInfo.league.standard[i].pos;
                altura = jugadorInfo.league.standard[i].heightMeters;
                peso = jugadorInfo.league.standard[i].weightKilograms;
                fechaNacimiento = jugadorInfo.league.standard[i].dateOfBirthUTC;
                debut = jugadorInfo.league.standard[i].nbaDebutYear;
                anosPro = jugadorInfo.league.standard[i].yearsPro;
                universidad = jugadorInfo.league.standard[i].collegeName;
                seasonDraft = jugadorInfo.league.standard[i].draft.seasonYear;
                roundDraft = jugadorInfo.league.standard[i].draft.roundNum;
                pickDraft = jugadorInfo.league.standard[i].draft.pickNum;
                equipos = jugadorInfo.league.standard[i].teams;
            }
        }
    }

    private string getImgTeam(string nombre)
    {
        return "/img/equipos/" + nombre + ".png";
    }

    private string getInfoTeam(string id, int info)
    {
        for (int i = 0; i < equipos_API2.league.standard.Length; i++)
        {
            if (equipos_API2.league.standard[i].teamId == id)
            {
                if (info == 1)
                {
                    return equipos_API2.league.standard[i].fullName;
                } else if (info == 2)
                {
                    return equipos_API2.league.standard[i].city;
                } else if (info == 3)
                {
                    return equipos_API2.league.standard[i].tricode;
                } else if (info == 4) 
                {
                    return equipos_API2.league.standard[i].nickname;
                }
            }
        }
        return null;
    }

    private string getEquipo(int id, int info)
    {
        for (int i = 0; i < allEquipos.data.Length; i++)
        {
            if (allEquipos.data[i].id == id)
            {
                if (info == 1)
                {
                    return allEquipos.data[i].full_name;
                }
                else if (info == 2)
                {
                    return allEquipos.data[i].abbreviation;
                }

            }
        }
        return null;
    }

    private void getEquiposEstadisticas()
    {
        List<string> todos = new List<string>();
        for (int i = 0; i < estadisticasPartidos.data.Length; i++) 
        {
            if (estadisticasPartidos.data[i].game.home_team_id != jugador.team.id) 
            {
                todos.Add(getEquipo(estadisticasPartidos.data[i].game.home_team_id, 1));
            } else
            {
                todos.Add(getEquipo(estadisticasPartidos.data[i].game.visitor_team_id, 1));
            }
        }

        equiposEstadisticas = todos.Distinct().ToList();

    }

    private int getIdEquipo(string nombre)
    {
        for (int i = 0; i < allEquipos.data.Length; i++)
        {
            if (allEquipos.data[i].full_name == nombre)
            {
                return allEquipos.data[i].id;
            }
        }
        return -1;
    }

    private async Task OnSelect(ChangeEventArgs e)
    {
        equipoElegido = false;
        numeroMenu = 0;
        idEquipoEstadisticas = Int32.Parse(e.Value.ToString());
        estadisticas.Clear();

        for (int i = 0; i < estadisticasPartidos.data.Length; i++)
        {
            if (estadisticasPartidos.data[i].game.home_team_id == idEquipoEstadisticas || estadisticasPartidos.data[i].game.visitor_team_id == idEquipoEstadisticas)
            {
                estadisticas.Add(estadisticasPartidos.data[i]);
            }
        }

        equipoElegido = true;
    }

    private void adelante() {
        numeroMenu++;
    }

    private void atras()
    {
        numeroMenu--;
    }

    private void buscar(int i)
    {
        i = i - 1;
        numeroMenu = i;
    }

    private double getEstadisticasDouble(int i)
    {

        if (i == 1)
        {
            if (estadisticas[numeroMenu].fg_pct == null)
            {
                return 0;
            }
            return Convert.ToDouble(estadisticas[numeroMenu].fg_pct) * 1000;
        } else if (i == 2)
        {
            if (estadisticas[numeroMenu].fg3_pct == null)
            {
                return 0;
            }
            return Convert.ToDouble(estadisticas[numeroMenu].fg3_pct) * 1000;
        } else if (i == 3)
        {
            if (estadisticas[numeroMenu].ft_pct == null)
            {
                return 0;
            }
            return Convert.ToDouble(estadisticas[numeroMenu].ft_pct) * 1000;
        }

        return 0;
    }

    private double tresDecimales(float? value) {
        double d = Convert.ToDouble(value);
        return Math.Round(d, 3);
    }

    private string colorEquipos(int numero, int color, string tresLetras) {
        if (numero == 1) {
            return "color:" + colorSelect(color, tresLetras);
        } else if (numero == 2) {
            return "border-top-color:" + colorSelect(color, tresLetras);
        } else if (numero == 3) {
            return "background-color:" + colorSelect(color, tresLetras);
        }
        return colorSelect(color, tresLetras);
    }

    private string colorSelect(int numero, string tresLetras)
    {
        switch (tresLetras)
        {
            case "ATL":
                if (numero == 1) {
                    return "#C8102E";
                } else
                {
                    return "#FDB927";
                }

            case "BOS":
                if (numero == 1) {
                    return "#007A33";
                } else
                {
                    return "#BA9653";
                }

            case "BKN":
                if (numero == 1) {
                    return "#000000";
                } else
                {
                    return "#CD1041";
                }

            case "CHA":
                if (numero == 1) {
                    return "#1D1160";
                } else
                {
                    return "#00788C";
                }

            case "CHI":
                if (numero == 1) {
                    return "#CE1141";
                } else
                {
                    return "#000000";
                }

            case "CLE":
                if (numero == 1) {
                    return "#860038";
                } else
                {
                    return "#041E42";
                }

            case "DAL":
                if (numero == 1)
                {
                    return "#00538C";
                }
                else
                {
                    return "#002B5E";
                }

            case "DEN":
                if (numero == 1) {
                    return "#0E2240";
                } else
                {
                    return "#FEC524";
                }

            case "DET":
                if (numero == 1) {
                    return "#C8102E";
                } else
                {
                    return "#1D42BA";
                }

            case "GSW":
                if (numero == 1) {
                    return "#1D428A";
                } else
                {
                    return "#FFC72C";
                }

            case "HOU":
                if (numero == 1) {
                    return "#CE1141";
                } else
                {
                    return "#C4CED4";
                }

            case "IND":
                if (numero == 1) {
                    return "#002D62";
                } else
                {
                    return "#FDBB30";
                }

            case "LAC":
                if (numero == 1) {
                    return "#C8102E";
                } else
                {
                    return "#1D428A";
                }

            case "LAL":
                if (numero == 1) {
                    return "#552583";
                } else
                {
                    return "#FDB927";
                }

            case "MEM":
                if (numero == 1) {
                    return "#5D76A9";
                } else
                {
                    return "#12173F";
                }

            case "MIA":
                if (numero == 1) {
                    return "#98002E";
                } else
                {
                    return "#F9A01B";
                }

            case "MIL":
                if (numero == 1) {
                    return "#00471B";
                } else
                {
                    return "#EEE1C6";
                }

            case "MIN":
                if (numero == 1) {
                    return "#0C2340";
                } else
                {
                    return "#236192";
                }

            case "NOP":
                if (numero == 1) {
                    return "#0C2340";
                } else
                {
                    return "#C8102E";
                }

            case "NYK":
                if (numero == 1) {
                    return "#006BB6";
                } else
                {
                    return "#F58426";
                }

            case "OKC":
                if (numero == 1) {
                    return "#007AC1";
                } else
                {
                    return "#EF3B24";
                }

            case "ORL":
                if (numero == 1) {
                    return "#0077C0";
                } else
                {
                    return "#C4CED4";
                }

            case "PHI":
                if (numero == 1) {
                    return "#006BB6";
                } else
                {
                    return "#ED174C";
                }

            case "PHX":
                if (numero == 1) {
                    return "#1D1160";
                } else
                {
                    return "#E56020";
                }

            case "POR":
                if (numero == 1) {
                    return "#E03A3E";
                } else
                {
                    return "#000000";
                }

            case "SAC":
                if (numero == 1) {
                    return "#5A2D81";
                } else
                {
                    return "#63727A";
                }

            case "SAS":
                if (numero == 1) {
                    return "#C4CED4";
                } else
                {
                    return "#000000";
                }

            case "TOR":
                if (numero == 1) {
                    return "#CE1141";
                } else
                {
                    return "#000000";
                }

            case "UTA":
                if (numero == 1) {
                    return "#002B5C";
                } else
                {
                    return "#00471B";
                }

            case "WAS":
                if (numero == 1) {
                    return "#002B5C";
                } else
                {
                    return "#E31837";
                }
        }
        return "#FFFFFF";
    }

    private string colorFill(int tipo, double numero) {
        if (tipo == 1) {
            // tiros de campo
            if (numero >= 0 && numero < 300)
            {
                // rojo
                return "#FF0000";
            }
            else if (numero >= 300 && numero <= 500)
            {
                // amarillo
                return "#FFFF00";
            }
            else if (numero > 500 && numero <= 1000)
            {
                // verde
                return "#008000";
            }
        } else if (tipo == 2) {
            // triples
            if (numero >= 0 && numero < 100) {
                // rojo
                return "#FF0000";
            } else if (numero >= 100 && numero <= 350) {
                // amarillo
                return "#FFFF00";
            } else if (numero > 350 && numero <= 1000) {
                // verde
                return "#008000";
            }
        } else if (tipo == 3) {
            // tiros libres
            if (numero >= 0 && numero < 500) {
                // rojo
                return "#FF0000";
            } else if (numero >= 500 && numero <= 700) {
                // amarillo
                return "#FFFF00";
            } else if (numero > 700 && numero <= 1000) {
                // verde
                return "#008000";
            }
        }
        return "#0000FF";
    }

    private void volver()
    {
        navigation.NavigateTo("/");
    }

    private void verEquipo(int id)
    {
        navigation.NavigateTo($"/equiposinfo/{id}");
    }
}